* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}

/* CSS GERAL */
Body {
  /* background-color: silver; */
  background-image: url('./img/Logos/4food.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100vh;
}

/* HEADER */

.home-header {
  border: 1px solid black;
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-header div {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.home-header a {
  display: flex;
  color: black;
  font-size: 1.2rem;
}

.home-header a:hover {
  color: rgb(173, 108, 22);
  transition: all 0.5s ease-in-out;
}

.home-header img {
  height: 2rem;
}

.header-input {
  border: none;
  background-color: black;
  color: silver;
  padding: 5px 10px;
  width: 300px;
  max-width: 10rem;
}

/* INNER */

.home-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.home-main{
  display: grid;
  text-align: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.home-main form{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #6d5040;
  width: 35%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.home-main form label{
  font-size: 1.5rem;
  color:white;
}

label {
  width: 150px;
  display: inline-block;
  text-align:end;

  text-align: left;
}

input{
  display: flex;
  width: 100%;
  padding: 5px 2px;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

button{
  padding:20px;
}

#feedback{
  height: 100px;
  /* text-align: start;
  text-align:justify; */
}

textarea{
  width: 90%;
  /* max-width: 91%; */
  resize: none
}

.home-container-nav {
  background-color: #51260e;
  width: 11rem;
  height: 100vh;
}

.home-container-nav div {
  font-size: 1rem;
  margin: 5px;
  text-align: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(173, 108, 22);
  color: rgb(80, 37, 30);
  font-weight: bold;
}

.home-container-nav a div:hover {
  font-size: 1.1rem;
  color: rgb(36, 22, 5);
  transition: all 0.5s ease-in-out;
}

.home-container-site {
  padding: 1rem;
}

.cards-produtos button {
  width: 50%;
  align-items: center;
}
.container-produtos {
  border: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* FOOTER */
.home-footer {
  display: flex;
  color: white;
  font-weight: bold;
  background-color: #51260e;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer-links {
  display: flex;
}
footer img {
  height: 1.5em;
  padding: 0 15px;
}


@media screen and (min-device-width : 320px) and
 (max-device-width : 480px) {
 
  .home-main{
    display: grid;
    text-align: start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top:10%;
  }


  .home-container{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
  }

  .home-container-nav{

    height: 100px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  .header-input{
    display: none;
    
  }
  .home-header {
    display: flex;
    justify-content: center;
    border: 1px solid black;
  }



/* FORM */

.home-main form{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #6d5040;
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.home-main form label{
  font-size: 1.5rem;
  color:white;
}

label {
  width: 150px;
  display: inline-block;
  text-align:end;

  text-align: left;
}

input{
  display: flex;
  width: 100%;
  padding: 5px 2px;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

button{
  padding:20px;
}

#feedback{
  height: 100px;
  /* text-align: start;
  text-align:justify; */
}

textarea{
  width: 75%;
  /* max-width: 91%; */
  resize: none
}



 }